Movie Genre Classification/movies dataset/Genre Classification Dataset/description.txt
Movie Genre Classification/movies dataset
Movie Genre Classification/Task 1.ipynb
Movie Genre Classification/Task 1.ipynb
Movie Genre Classification/task1.1 copy.ipynb
Movie Genre Classification/task1.1.ipynb
Credit Card Fraud Detection/credit card dataset/fraudTest.csv
Credit Card Fraud Detection/credit card dataset/fraudTrain.csv
tempCodeRunnerFile.python
Credit Card Fraud Detection/neural_network/variables/variables.data-00000-of-00001
Credit Card Fraud Detection/neural_network/variables/variables.index
Credit Card Fraud Detection/neural_network/fingerprint.pb
Credit Card Fraud Detection/neural_network/saved_model.pb
Credit Card Fraud Detection/neural_network/keras_metadata.pb
Spam SMS Detection/sms spam dataset/spam.csv
