Movie Genre Classification/movies dataset/Genre Classification Dataset/description.txt
Movie Genre Classification/movies dataset
Movie Genre Classification/Task 1.ipynb
Movie Genre Classification/Task 1.ipynb
